@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6EF;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  list-style: none;
  display: flex;
}

#menu li {
  padding: 10px;
  text-decoration: none;
  color: #880C0C;
  border: 2px solid #880C0C;
  border-radius: 10%;
  background-color: #E6E6EF;
}

#menu li:hover {
	color: #E6E6EF;
	border: 2px solid #E6E6EF;
	border-radius: 10%;
	background-color: #880C0C;
}

#menu li:hover, #menu li.active {
	margin-right: 0.3rem;
	color: #E6E6EF;
	border: 2px solid #E6E6EF;
	border-radius: 10%;
	background-color: #880C0C;
}

.border li {
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1), -2px -2px 5px 0 rgba(0,0,0,.1), 2px 2px 5px 0 rgba(0,0,0,.1), -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.emojis {
    display: flex;
    /*flex-wrap: wrap; justify-content: space-around;*/
    flex-direction: column;
    align-items: center;
}

/* Log */
.logstr {
    font-size: 0.7em;
    border-bottom: 1px solid blue;
}

.logswstr {
    font-size: 0.8em;
    border-bottom: 1px solid blue;
    color: #ff4411 !important;
}

/* Install Button */
#install-btn {
    background: #0088cc;
    text-align: center;
    font-size: 200%;
    margin: 1em auto;
    display: block;
    padding: .5em;
    color: white;
    width: 10em;
    max-width: 80%;
    line-height: 1.2em;
}

#install-btn.active {
    display: block;
}

#install-btn {
    display: none;
}
h1 {
  color: #880C0C;
  margin-bottom: 0.5rem;
}

/* Content */
div#content {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 0px 10px 10px;
    overflow: scroll;
    background: #fcfeff;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px #4a5562;
    -webkit-box-shadow: -3px 0 6px #4a5562;
    box-shadow: -3px 0 6px #4a5562;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem auto;
  height: 15rem;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.card--avatar {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card--title {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.card--link {
  text-decoration: none;
  background: #db4938;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}
